@page
@model Web_App_Forum_Film.Pages.Crud.CreaPostModel
@{

}
<h1  style="color:white">Crea un Post!</h1>

<form method="post">
    <h3  style="color:white">Titolo</h3>
    <input type="hidden" asp-for="Topic.Id" />
    <input type="text" asp-for="Messaggio" />
    <input type="submit" value="Crea"> 
</form>
