@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string src = "https://image.tmdb.org/t/p/w500";
}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <b class="navbar-brand">Cerca un topic o un Film</b>
        <form method="post" class="d-flex">
            <input type="text" asp-for="@Model.Cerca" class="form-control me-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <b style="color:white">Non lo trovi? Crealo tu!</b>
            <a href="/Crud/Create" class="Button btn-success">+</a>
        </div>



    </div>

</nav>

<br />

<div class="row">
    @if (Model.Success)
    {
        @foreach (var topic in Model.ListaCercata)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@src@topic.Film.Poster_Path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@topic.Titolo</h5>
                        <p class="card-text">@topic.Film.Titolo_Originale</p>
                        <a asp-route-id="@topic.Id" asp-page="/Crud/Details" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    }

</div>


